a{
	color:blue;
	text-decoration: none;
}

a:hover{
	color:red;
}
body{
	background-color: beige;
	color: black;
	font-size: 150%;
	text-align: center;
}

footer{
	margin-bottom: 2.5rem;
	margin-top: 2.5rem;
	
}
h1,h3,h4{
	margin-bottom: 2.5rem;
	margin-top: 2.5rem;
	
}

h2{
	color:#075AAB;
	margin-bottom: 2.5rem;
	margin-top: 2.5rem;
}

hr{
	color:rgb(220,150,120);
	margin-bottom: 2.5rem;
	margin-top: 2.5rem;
}
table,th,td{
	   border:1px solid;
	   border:"1";
	   border-collapse: collapse;
	   color:Black;
	   }
	   
th,td{
	padding:15px; 
	font-size:20px;
	}

	p{
       font-family: Times New Roman;
	}
	

	